:root {
  --main: rgb(255, 145, 77);
  --profil-bg: rgb(227, 227, 227);
  --parcours-bg: rgb(237, 237, 237);

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: auto;
  max-width: 210mm;
}

h1,
h2 {
  color: var(--main);
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  text-shadow: 0 0 4px black;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container {
  padding: 1em;
}

header {
  background: url("./media/computer.jpg") no-repeat;
  background-size: cover;
}

.contact_card {
  display: flex;
  align-items: center;
  background: var(--main);
  color: black;
  font-size: 1.24em;
}

.subheading {
  color: rgb(26, 26, 26);
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 2px;
}

header .subheading {
  color: white;
  font-size: 2em;
}

.address {
  color: rgb(247, 238, 238);
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.3rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 2px;
}

.profil {
  background: var(--profil-bg);
}

.profil img {
  border-radius: 100%;
  display: block;
  margin: auto;
}

.parcours {
  background: var(--parcours-bg);
}

.item_parcours {
  font-weight: bold;
  text-transform: uppercase;
}

.endroit_date {
  font-style: italic;
}

footer {
  padding: 2.3em;
  background: var(--main);
}

@media only screen and (max-width: 666px) {
  .grid_container {
    grid-template-columns: 1fr;
  }
}

@media print {
  body {
    width: 21cm;
    height: 29.7cm;
    margin: initial;
    max-width: initial;
  }
}
